<div class="navbar" role="navigation">
  <nav class="menu" aria-label="Main Navigation">
    <a href="/" class="logo">
      {{ partial "svgs/home.svg" (dict "height" 25 "width" 25) . }}
    </a>
    <input type="checkbox" id="menu-trigger" class="menu-trigger" />
    <label for="menu-trigger">
      <span class="menu-icon">
        {{ partial "svgs/menu.svg" (dict "height" 25 "width" 25) . }}
      </span>
    </label>

    <div class="trigger">
      <ul class="trigger-container">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
          <li>
            <a 
            class="menu-link {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active{{ end }}"
            href="{{ .URL }}">
            {{ .Name }}
            </a>
            {{ if .HasChildren }}
              <ul>
                {{ range .Children }}
                  <li>
                    <a
                    class="menu-link {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}"
                    href="{{ .URL }}">
                      {{ .Name }}
                    </a>
                  </li>
                {{ end }}
              </ul>
            {{ end }}
          </li>
        {{ end }}
        <li class="menu-separator">
          <span>|</span>
        </li>
        <li class="menu-link">
          <ul>
            <a class="rss" href="https://github.com/krisnova" style="text-decoration: none" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 1024 1024" fill="currentcolor">
                <title>Kris Nóva on GitHub</title>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8C0 11.54 2.29 14.53 5.47 15.59C5.87 15.66 6.02 15.42 6.02 15.21C6.02 15.02 6.01 14.39 6.01 13.72C4 14.09 3.48 13.23 3.32 12.78C3.23 12.55 2.84 11.84 2.5 11.65C2.22 11.5 1.82 11.13 2.49 11.12C3.12 11.11 3.57 11.7 3.72 11.94C4.44 13.15 5.59 12.81 6.05 12.6C6.12 12.08 6.33 11.73 6.56 11.53C4.78 11.33 2.92 10.64 2.92 7.58C2.92 6.71 3.23 5.99 3.74 5.43C3.66 5.23 3.38 4.41 3.82 3.31C3.82 3.31 4.49 3.1 6.02 4.13C6.66 3.95 7.34 3.86 8.02 3.86C8.7 3.86 9.38 3.95 10.02 4.13C11.55 3.09 12.22 3.31 12.22 3.31C12.66 4.41 12.38 5.23 12.3 5.43C12.81 5.99 13.12 6.7 13.12 7.58C13.12 10.65 11.25 11.33 9.47 11.53C9.76 11.78 10.01 12.26 10.01 13.01C10.01 14.08 10 14.94 10 15.21C10 15.42 10.15 15.67 10.55 15.59C13.71 14.53 16 11.53 16 8C16 3.58 12.42 0 8 0Z" transform="scale(64)"/>
              </svg>
            </a>
          </ul>
        </li>

        <li class="menu-link">
          <ul>
            <a class="rss" href="https://twitch.tv/krisnova" style="text-decoration: none" target="_blank" rel="me">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="20" height="20" fill="currentcolor">
                <title>Kris Nóva on Twitch</title>
                  <path fill-rule="evenodd" d="M5.7 0L1.4 10.985V55.88h15.284V64h8.597l8.12-8.12h12.418l16.716-16.716V0H5.7zm51.104 36.3L47.25 45.85H31.967l-8.12 8.12v-8.12H10.952V5.73h45.85V36.3zM47.25 16.716v16.716h-5.73V16.716h5.73zm-15.284 0v16.716h-5.73V16.716h5.73z" />
                </svg>
            </a>
          </ul>
        </li>


        <li class="menu-separator">
          <span>|</span>
        </li>
      </ul>
      <a id="mode" href="#">
        {{ partial "svgs/sun.svg" (dict "height" 21 "width" 21 "class" "mode-sunny" "title" "LIGHT") . }}
        {{ partial "svgs/sun.svg" (dict "height" 21 "width" 21 "class" "mode-moon" "title" "DARK") . }}
      </a>
    </div>
  </nav>
</div>
